<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Broken Link Test">

	<!--<test thread-count="5" name="RTE Get PickUPID and Search">
		<classes>
			<class name="rte_RTEJobCreation.RTEGetPUpID"></class>
		</classes>
	</test>
	-->


	<test thread-count="5" name="Broken Link Test">
		<classes>
			<class name="brokenLinks.BrokenLinks"></class>
		</classes>
	</test>


</suite> 